@import"base.css";
@import"header.css";
@import"footer.css";

.main {
  
}

.banner {
  background-image: url("../res/img/banner.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.fixed_top {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 1s;
}
.fixed_top2 {
  background-color: rgba(255, 255, 255, 0);
  transition-duration: 1s;
}
.banner a {
  color: #fff;
  height: 50px;
  display: inline-block;
  padding: 11px 20px;
  border-radius: 10px;
  background-color: var(--main-color);
}
.banner p:first-child {
  padding-top: 350px;
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
}
.banner p:nth-child(2) {
  padding-bottom: 30px;
}

.feature {
  background-color: #eee;
  height: 400px;
  padding: 0 200px;
  margin: 0 auto;
  clear: both;
}
.feature1, .feature3 {
  background-color: #f6f6f6;
}
.feature-info > * {
  width: 100%;
}
.feature-logo {
  float: left;
  padding-top: 36px;
}
.feature-logo img {
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 25px 2px #999;
}
.feature-info {
  width: 600px;
  float: left;
  padding-left: 50px;
}


.poster-title {
  color: #4c4c4c;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  margin: 90px 0 20px 0;
}

.poster-describe {
  color: #555;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
}
