* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../res/img/login.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
form {
    margin: 20vh auto 10px;
    /* margin-top: 20vh;
    margin-left: 70vw;
    margin-right: 10vw; */
    width:384px;
    height: 485px;

    background-color: #fff9;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #8080807d;
}
form label{
    display: block;
    width: 100%;
}
.loginlogo {
    height: 248px;
}

#logoimg {
    height: 248px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.formgroup {
    height: 57px;
    text-align: center;
}
/* 字体 */
#username, #pwd, #verify{
    display: inline-block;
    font-size: 1.6vh;
    letter-spacing: 0.1vw;
    height: 28px;
}

#changeVerity {
    width: 96px;
}

#username, #pwd {
    width: 288px;
}
#verify {
    width: 190px;
}
#resultMsg {
    background-color: #FF8C31;
    color: aliceblue;
}
.error {
    width: 2vh;
    /* position: relative; */
    float: left;
    /* left: -28px; */
}

.login {
    text-decoration: none;
    display: block;
    width: 135px;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    background-color: #FF7500;
    box-shadow: 1px 1px 10px 3px #8080803d;
}
.login:hover {
    background-color: #FF7500;
    box-shadow: inset 1px 1px 12px 7px #8080803d;
}
.login:active {
    background-color: #FF7500;
    box-shadow: inset 1px 1px 12px 7px #8080803d;
}




